<!DOCTYPE html>
{%extends 'base.html'%}

{%block body_block%}


<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <h1 style="color:blue"> <b> Mobile Store </b> </h1>
        <p>
    Consumer electronics or home electronics are electronic (analog or digital) equipment intended for everyday use,
    typically in private homes. Consumer electronics include devices used for entertainment,
    communications and recreation. Usually referred to as black goods due to many products being housed in black
    or dark casings. This term is used to distinguish them from "white goods" which are meant for housekeeping tasks,
    such as washing machines and refrigerators, although nowadays, these would be considered black goods,
    some of these being connected to the Internet.[1][2] In British English, they are often
    called brown goods by producers and sellers.[3][n 1] In the 2010s, this distinction is absent
    in large big box consumer electronics stores, which sell both entertainment, communication,
    and home office devices and kitchen appliances such as refrigerators. Radio broadcasting in the
    early 20th century brought the first major consumer product, the broadcast receiver.
    Later products included telephones, televisions, and calculators, then audio and video recorders and players,
    game consoles, personal computers and MP3 players. In the 2010s, consumer electronics stores often sell GPS,
    automotive electronics (car stereos), video game consoles, electronic musical instruments (e.g.,
    synthesizer keyboards), karaoke machines, digital cameras, and video players
    (VCRs in the 1980s and 1990s, followed by DVD players and Blu-ray players). Stores also sell smart
    appliances, digital cameras, camcorders, cell phones, and smartphones. Some of the newer products sold
    include virtual reality head-mounted display goggles,
    smart home devices that connect home devices to the Internet and wearable technology.
</p>
    </div>
    <div class="col-4"></div>
</div>
<!--<div id="googleMap" style="width:100%;height:400px;"></div>-->

<!--<script>-->
<!--function myMap() {-->
<!--var mapProp= {-->
<!--  center:new google.maps.LatLng(51.508742,-0.120850),-->
<!--  zoom:5,-->
<!--};-->
<!--var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);-->
<!--}-->
<!--</script>-->

<!--<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY&callback=myMap"></script>-->
{%endblock%}